
                         /*Debut header*/

 

 

header {
     display: flex;
     flex-direction: row; 
     height:100px;
     justify-content: space-between;
     align-items: center;
     background-color: rgba(33,121,193,0.7);
     position:fixed;
     top:0;
     width:100%;

 }

header ul {
     height: 100%;
	 width: 34%;
     list-style: none;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
    
 }
 
header img {
     padding-left:100px ;
 }


header ul li {
      height: 100%;
      padding-left: 10px;
      color:white;
      text-transform:uppercase;
      display: flex;
      align-items: center;
      
 }
 
 header ul li:hover {

	height:100%;
    color:orange;
    background-color: rgba(1,20,45,0.7);
    
 }
 header ul li:hover a {
    color:orange;
 }
	
 header ul li a {
    color:white;
	text-decoration: none;
}

 


header ul li a:visited {
	color: none;
	text-decoration: none;
}
     
header img {
     padding-left:100px ;
 }

                         /*Fin header*/
        
		/*main part*/  

* {
	margin:0;
    left:0;	
	
}	

main {
	
	 display:flex;
	 flex-direction:column;
	 width:100%;
	 justify-content:center;
	 margin-top: 100px;
}	


.total{
	
	 /*display:flex;
	 flex-direction:column;*/
	 
}

.contener{
	
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    padding-top: 100px;
    margin-bottom: 50px;
	align-items:center;
}



.text{

	border-left: solid 2px rgba(33,121,193,0.7);
	padding-left:15px;
}

.phone{
	
	border-left: solid 2px rgba(33,121,193,0.7);
	padding-left:15px;
}

.mail{
	border-left: solid 2px rgba(33,121,193,0.7);
	padding-left:15px;
	
}
           /* media queries*/
		   
	@media screen and (max-width: 580px){
        header img {
	                padding-left:0;
    
  }
           

        header ul {
	       display: flex;
           flex-direction: column; 
           width:100%;	   
 }
       
		   
}		   
		   
		   
	       /*fin media queries*/
	 
	 /* footer part*/
	 
					 
footer {
    background-color:rgba(33,121,193,0.7);
    color: white;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}				 
	 